@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
@import './base.css';

*, *::after, *::before {
  font-family: "Open Sans", serif;
  box-sizing: border-box;
}

:root {
  --green-color: #4CAF50;
  --blue-color: #2196F3;
  --grey-color: #C0C0C0;
  --brown-color: #795548;
  --gold-color: #FFD700;
  --plyr-color-main: var(--green-color)
}

#app {
  max-width: 1220px;
  margin: 0 auto;
  padding: 4rem 2rem 2rem;
  overflow-x: hidden;

  @media (max-width: 1000px) {
    padding: 1rem;
  }
}